# File Superflui e/o Protetti
node_modules/
dist/
release/
.vite/
out/
coverage/
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
.DS_Store
Thumbs.db
.env.local
.env.*.local
.env
*.sqlite3
desktop.ini
.vscode/
.idea/
start_log.txt

# File Guida
FUTURE_TIPS.md
COMMANDS.md

# Programmi Funzinali
generate-appx-icon-assets.ps1


